<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zym.mybatis.mapper.EmployeeMapper">
	<!-- 增加数据 -->
	<insert id="addEmp" parameterType="com.zym.mybatis.test.domain.Employee">
		insert into tbl_employee
		(last_name,gender,email) values
		(#{lastName},#{gender},#{email})
	</insert>
	<!-- 删除数据 -->
	<delete id="deleteEmpById">
		delete from tbl_employee where id = #{id}
	</delete>
	<!-- 更改数据 -->
	<update id="updateEmp" parameterType="com.zym.mybatis.test.domain.Employee">
		update tbl_employee set
		last_name = #{lastName},gender = #{gender}, email=
		#{email} where id =
		#{id}
	</update>
	<!-- 查询数据 -->
	<select id="getEmployeeById" resultType="com.zym.mybatis.test.domain.Employee">
		select id, last_name
		lastName,gender,email from tbl_employee
		where id = #{id}
	</select>
</mapper>